// launch info
trace {
  enabled = true
  file = "$PWD/info/trace.txt"
}
timeline {
  enabled = true
  file = "$PWD/info/timeline.html"
}
dag {
  enabled = true
  file = "$PWD/info/dag.html"
}

// s3
plugins {
  id "nf-amazon"
}

// docker
docker.enabled = true

// launch profiles
profiles {
  local {
    process.executor = "local"
    process.container = "sg10k-cyp2d6-call_haplotypes:latest"
    process.errorStrategy = "retry"
    process.maxRetries = 1
  }
  awsbatch {
    process.executor = "awsbatch"
    process.region = "ap-southeast-1"
    // process.queue = "sg10k-spot50"
    process.queue = "sg10k-on-demand"
    client.maxConnections = 4
    batch.maxParallelTransfers = 8
    process.container = "046503905558.dkr.ecr.ap-southeast-1.amazonaws.com/sg10k-cyp2d6-call_haplotypes:latest"
    process.errorStrategy = "retry"
    process.maxRetries = 4
  }
}