// launch info
trace {
  enabled = true
  file = "$PWD/info/trace.txt"
}
timeline {
  enabled = true
  file = "$PWD/info/timeline.html"
}
dag {
  enabled = true
  file = "$PWD/info/dag.html"
}

// s3
plugins {
  id "nf-amazon"
}
aws.client.downloadParallel = true
// aws.client.downloadNumWorkers = 20

// docker
docker.enabled = true

// launch profiles
profiles {
  local {
    process.executor = "local"
    process.container = "sg10k-cyp2d6-call_haplotypes:latest"
    process.errorStrategy = "retry"
    process.maxRetries = 1
    // executor.pollInterval = "2 sec"
  }
  awsbatch {
    process.executor = "awsbatch"
    process.region = "ap-southeast-1"
    // process.queue = "sg10k-spot50"
    process.queue = "sg10k-on-demand"
    process.container = "046503905558.dkr.ecr.ap-southeast-1.amazonaws.com/sg10k-cyp2d6-call_haplotypes:latest"
    process.errorStrategy = "retry"
    process.maxRetries = 4
  }
}

// process resources
process {
    withName:CYRIUS {
        cpus = 8
        memory = "8 GB"
    }
    withName:ALDY {
        cpus = 8
        memory = "8 GB"
    }
}